<div class="container">
  <h1 class="mat-title text-center">15 случайных персонажей Star Wars</h1>
  <div class="Header">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="searchCharacters()">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sortCharacters()">
    Sort {{ sortAscending ? '⬆' : '⬇' }}
  </button>

  <a mat-button color="accent" routerLink="/characters">All ch-rs</a>

  </div>

  <div class="cards">
    <mat-card *ngFor="let character of filteredCharacters" class="character-card">
      <mat-card-header>
        <mat-card-title>{{ character.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ character.gender | uppercase }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Год рождения: {{ character.birth_year }}</p>
        <p> Планета: {{ character.planet?.name || 'Неизвестно' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="openPlanetDialog(character); $event.stopPropagation();">
          Подробнее о планете
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
